name: CI Backend (NestJS + PostgreSQL)

on:
  push:
    branches: [ "main", "87-backend-configuracion-ci-con-claves" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  check_backend_ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    
    env:
      
      POSTGRES_USER: ${{ vars.POSTGRES_USER }}
      POSTGRES_DB: ${{ vars.POSTGRES_DB }}
      DB_HOST: ${{ vars.DB_HOST }}
      DB_PORT: ${{ vars.DB_PORT }}
      DB_USER: ${{ vars.DB_USER }}
      DB_NAME: ${{ vars.DB_NAME }}
      
      
      POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PASS: ${{ secrets.DB_PASSWORD }}
      
      
      DATABASE_URL: postgresql://${{ vars.POSTGRES_USER }}:${{ secrets.DB_PASSWORD }}@${{ vars.DB_HOST }}:${{ vars.DB_PORT }}/${{ vars.POSTGRES_DB }}

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Levantar PostgreSQL con Docker Compose
        run: |
          docker compose -f docker-compose-postgress.yml up -d
          docker ps

      - name: Esperar a que PostgreSQL esté listo
        run: |
          # Usamos la variable de entorno para el usuario
          until docker exec postgres_db pg_isready -U ${{ vars.POSTGRES_USER }}; do
            echo "Esperando a PostgreSQL..."
            sleep 3
          done

      - name: Instalar dependencias
        run: npm install

      - name: Compilar proyecto NestJS
        run: npm run build

      - name: Verificar conexión a la base de datos
        run: |
          sudo apt-get update && sudo apt-get install -y postgresql-client
          # Usamos las variables de entorno para la conexión
          pg_isready -h ${{ vars.DB_HOST }} -p ${{ vars.DB_PORT }} -U ${{ vars.POSTGRES_USER }}

      - name: Detener contenedores
        if: always()
        run: docker compose -f docker-compose-postgress.yml down -v

      - name: Verificación final
        run: echo "CI Backend completado correctamente"